---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-identifier-length,
  -misc-non-private-member-variables-in-classes
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
